.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

data/raw/*
data/processed/*
data/splits/*
*.zip

mlruns/
*.log

models/*.keras
models/*.h5
models/*.pt
models/*.pkl

# MLflow database
mlflow.db

# Generated training reports
reports/confusion_matrix.txt
reports/training_history.txt

.vscode/
